<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ConsulBinDirRef">
            <Component Id="cmpFF95088DEC2708BCD6EDC5E1FAB9ACB2" Guid="FB549947-F1B2-4E77-8526-114319800828">
                <File Id="fil51F080AC2445253C1886EDACF5793662" KeyPath="yes" Source="SourceDir\consul.exe" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ConsulBin">
            <ComponentRef Id="cmpFF95088DEC2708BCD6EDC5E1FAB9ACB2" />
        </ComponentGroup>
    </Fragment>
</Wix>