<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*" Name="Consul" Language="1033" Version="1.0.0.0" Manufacturer="Silvenga"
           UpgradeCode="A70F0BBD-A129-412F-B2E4-CE2E36A0968F">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Complete" Title="Consul" Level="1">
      <ComponentGroupRef Id="Consul" />
    </Feature>

  </Product>

</Wix>