<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ./Constants.wxi ?>
  <Product Id="*"
           Name="Consul Agent $(var.Version)"
           Language="1033"
           Version="$(var.Version)"
           Manufacturer="HashiCorp"
           UpgradeCode="A70F0BBD-A129-412F-B2E4-CE2E36A0968F">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="x64"
             Description="Provides packaging for the Consul agent, version $(var.Version)."
             Manufacturer="Silvenga" />
    <MajorUpgrade
      DowngradeErrorMessage="Downgrade was detected. If you are sure you want to downgrade Consul, first uninstall the correctly installed version then re-run this installer." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Consul"
             Title="Consul Agent"
             Level="1"
             Display="expand"
             Absent="disallow"
             AllowAdvertise="no"
             Description="Install the Consul agent binary and add it to the system path.">
      <ComponentGroupRef Id="Consul" />

      <Feature Id="Service"
               Title="Service Configuration"
               AllowAdvertise="no"
               Description="Configure Consul to run as a service and configure defaults (e.g. data directory).">
        <ComponentGroupRef Id="ConsulService" />

        <Feature Id="Dns"
                 Title="DNS Configuration"
                 AllowAdvertise="no"
                 Description="Configure to run as a local DNS server. Modifies Window's DNSCache service to play nice with Consul and listens on 127.0.0.1:53.">
          <ComponentGroupRef Id="ConsulDns" />
        </Feature>
      </Feature>

      <Feature Id="Firewall"
               Title="Firewall Configuration"
               Description="Open ports required for LAN gossip."
               AllowAdvertise="no">
        <ComponentGroupRef Id="ConsulFirewall" />
      </Feature>
    </Feature>

    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUILicenseRtf" Value="SourceDir\assets\mpl-2.0.rtf" />

  </Product>

</Wix>